{% extends "base.html" %}

{% block content %}
<a href="{% url 'listar_montos' %}" class="btn btn-secondary">Ir al listado de montos</a>
<br>
<h1>Lista de Cuotas</h1>
  <table>
    <thead>
      <tr>
        <th>ID Cuota</th>
        <th>Alumno</th>
        <th>Periodo</th>
        <th>Monto</th>
        <th>Estado</th>
        <th>Fecha de Vencimiento</th>
      </tr>
    </thead>
    <tbody>
      {% for cuota in cuotas %}
        <tr>
          <td>{{ cuota.id_cuota }}</td>
          <td>{{ cuota.alumno }}</td>
          <td>{{ cuota.id_periodo }}</td>
          <td>{{ cuota.monto }}</td>
          <td>{{ cuota.estado }}</td>
          <td>{{ cuota.fecha_vencimiento }}</td>
          <td><a href="{% url 'modificar_cuota' pk=cuota.pk %}" class="btn btn-secondary">Modificar montos</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'cuotas' %}" class="btn btn-secondary">PRICIPAL</a>
{% endblock %}
