{% extends 'base.html' %}

{% block content %}
  <h1>Detalles de la Sesión</h1>
  <p><strong>Profesor:</strong> {{ sesion.id_profesor.nombre }} {{ sesion.id_profesor.apellido }}</p>
  <p><strong>Día:</strong> {{ sesion.dia }}</p>
  <p><strong>Grupo:</strong> {{ sesion.id_grupo.nombre }}</p>
  <p><strong>Hora de inicio:</strong> {{ sesion.hora_inicio }}</p>
  <p><strong>Hora de fin:</strong> {{ sesion.hora_fin }}</p>

  <a href="{% url 'modificar_sesion' sesion.id_sesion %}">Modificar</a> |
  <a href="{% url 'eliminar_sesion' sesion.id_sesion %}">Eliminar</a> |
  <a href="{% url 'listar_sesiones' %}">Volver a la lista</a>
{% endblock %}
