{% extends 'base.html' %}

{% block content %}
  <h1>Listado de Sesiones</h1>
  <table>
    <thead>
      <tr>
        <th>Profesor</th>
        <th>Día</th>
        <th>Clase</th>
        <th>Hora de inicio</th>
        <th>Hora de fin</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for sesion in sesiones %}
        <tr>
          <td>{{ sesion.id_profesor.nombre }} {{ sesion.id_profesor.apellido }}</td>
          <td>{{ sesion.dia }}</td>
          <td>{{ sesion.hora_inicio }}</td>
          <td>{{ sesion.hora_fin }}</td>
          <td>
            <a href="{% url 'detalle_sesion' sesion.id_sesion %}">Ver</a> |
            <a href="{% url 'modificar_sesion' sesion.id_sesion %}">Modificar</a> |
            <a href="{% url 'eliminar_sesion' sesion.id_sesion %}">Eliminar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'crear_sesion' %}">Crear Nueva Sesión</a>
  <br>
  <a href="{% url 'listar_clases' %}">Ir a clases</a>
  <br>

{% endblock %}
