{% extends "base.html" %}
{% load custom_filters %}

{% block content %}
<h1>Marcar Asistencia</h1>

<form method="POST">
    {% csrf_token %}
    <table class="table">
        <thead>
            <tr>
                <th>Alumno</th>
                <th>Estado de Asistencia</th>
                <th>Caballo (obligatorio)</th>
            </tr>
        </thead>
        <tbody>
            {% for alumno in alumnos %}
            <tr>
                <td>{{ alumno.nombre }} {{ alumno.apellido }}</td>
                
                <!-- Estado de la Asistencia -->
                <td>
                    <select name="estado_{{ alumno.id_alumno }}" required>
                        <option value="presente" {% if asistencias_dict|get_item:alumno.id_alumno.state == "presente" %}selected{% endif %}>Presente</option>
                        <option value="ausente" {% if asistencias_dict|get_item:alumno.id_alumno.state == "ausente" %}selected{% endif %}>Ausente</option>
                    </select>
                </td>

                <!-- Caballo de la Asistencia -->
                <td>    <pre>{{ asistencias_dict }}</pre>
                        {% for caballo in caballos %}
                            <p>{{ asistencias_dict|get_item:alumno.id_alumno }}</p>
                        {% endfor %}   
                    <select name="caballo_{{ alumno.id_alumno }}" required>
                        <option value="">-- Seleccione Caballo --</option>
                        {% for caballo in caballos %}
                            <option value="{{ caballo.id_caballo }}" {% if asistencias_dict|get_item:alumno.id_alumno.caballo.id_caballo == caballo.id_caballo %}selected{% endif %}>
                                {{ caballo.nombre }}
                            </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Guardar Asistencia</button>
</form>
{% endblock %}
