{% extends 'base.html' %}

{% block content %}
  <h1>Modificar sesión</h1>
  <form method="post">
    {% csrf_token %}
    
    <label for="id_profesor">Profesor:</label>
    <select name="id_profesor">
      {% for profesor in profesores %}
        <option value="{{ profesor.id }}" {% if profesor.id == sesion.id_profesor.id %}selected{% endif %}>{{ profesor.nombre }} {{ profesor.apellido }}</option>
      {% endfor %}
    </select><br>
    
    <label for="dia">Día:</label>
    <select name="dia" required>
      <option value="Lunes" {% if sesion.dia == 'Lunes' %}selected{% endif %}>Lunes</option>
      <option value="Martes" {% if sesion.dia == 'Martes' %}selected{% endif %}>Martes</option>
      <option value="Miércoles" {% if sesion.dia == 'Miércoles' %}selected{% endif %}>Miércoles</option>
      <option value="Jueves" {% if sesion.dia == 'Jueves' %}selected{% endif %}>Jueves</option>
      <option value="Viernes" {% if sesion.dia == 'Viernes' %}selected{% endif %}>Viernes</option>
      <option value="Sábado" {% if sesion.dia == 'Sábado' %}selected{% endif %}>Sábado</option>
      <option value="Domingo" {% if sesion.dia == 'Domingo' %}selected{% endif %}>Domingo</option>
    </select><br>

    <label for="id_grupo">Grupo:</label>
    <select name="id_grupo">
      {% for grupo in grupos %}
        <option value="{{ grupo.id }}" {% if grupo.id == sesion.id_grupo.id %}selected{% endif %}>{{ grupo.nombre }}</option>
      {% endfor %}
    </select><br>

    <label for="hora_inicio">Hora de inicio:</label>
    <input type="time" name="hora_inicio" value="{{ sesion.hora_inicio|time:"H:i" }}" required><br>

    <label for="hora_fin">Hora de fin:</label>
    <input type="time" name="hora_fin" value="{{ sesion.hora_fin|time:"H:i" }}" required><br>

    <button type="submit">Guardar Cambios</button>
  </form>
{% endblock %}
