<table>
    <thead>
        <tr>
            <th class="hour-column">Hora</th>
            <th class="hour-column">Lunes</th>
            <th class="hour-column">Martes</th>
            <th class="hour-column">Miércoles</th>
            <th class="hour-column">Jueves</th>
            <th class="hour-column">Viernes</th>
            <th class="hour-column">Sábado</th>
            <th class="hour-column">Domingo</th>
        </tr>
    </thead>
    <tr>
        <td>08:00 - 09:00</td>
        <td onclick="toggleSelection(this, 'Lunes', '08:00', '09:00')"></td>
        <td onclick="toggleSelection(this, 'Martes', '08:00', '09:00')"></td>
        <td onclick="toggleSelection(this, 'Miércoles', '08:00', '09:00')"></td>
        <td onclick="toggleSelection(this, 'Jueves', '08:00', '09:00')"></td>
        <td onclick="toggleSelection(this, 'Viernes', '08:00', '09:00')"></td>
        <td onclick="toggleSelection(this, 'Sábado', '08:00', '09:00')"></td>
        <td onclick="toggleSelection(this, 'Domingo', '08:00', '09:00')"></td>
    </tr>
    <tr>
        <td>09:00 - 10:00</td>
        <td onclick="toggleSelection(this, 'Lunes', '09:00', '10:00')"></td>
        <td onclick="toggleSelection(this, 'Martes', '09:00', '10:00')"></td>
        <td onclick="toggleSelection(this, 'Miércoles', '09:00', '10:00')"></td>
        <td onclick="toggleSelection(this, 'Jueves', '09:00', '10:00')"></td>
        <td onclick="toggleSelection(this, 'Viernes', '09:00', '10:00')"></td>
        <td onclick="toggleSelection(this, 'Sábado', '09:00', '10:00')"></td>
        <td onclick="toggleSelection(this, 'Domingo', '09:00', '10:00')"></td>
    </tr>
    <tr>
        <td>10:00 - 11:00</td>
        <td onclick="toggleSelection(this, 'Lunes', '10:00', '11:00')"></td>
        <td onclick="toggleSelection(this, 'Martes', '10:00', '11:00')"></td>
        <td onclick="toggleSelection(this, 'Miércoles', '10:00', '11:00')"></td>
        <td onclick="toggleSelection(this, 'Jueves', '10:00', '11:00')"></td>
        <td onclick="toggleSelection(this, 'Viernes', '10:00', '11:00')"></td>
        <td onclick="toggleSelection(this, 'Sábado', '10:00', '11:00')"></td>
        <td onclick="toggleSelection(this, 'Domingo', '10:00', '11:00')"></td>
    </tr>
    <tr>
        <td>11:00 - 12:00</td>
        <td onclick="toggleSelection(this, 'Lunes', '11:00', '12:00')"></td>
        <td onclick="toggleSelection(this, 'Martes', '11:00', '12:00')"></td>
        <td onclick="toggleSelection(this, 'Miércoles', '11:00', '12:00')"></td>
        <td onclick="toggleSelection(this, 'Jueves', '11:00', '12:00')"></td>
        <td onclick="toggleSelection(this, 'Viernes', '11:00', '12:00')"></td>
        <td onclick="toggleSelection(this, 'Sábado', '11:00', '12:00')"></td>
        <td onclick="toggleSelection(this, 'Domingo', '11:00', '12:00')"></td>
    </tr>
    <tr>
        <td>12:00 - 13:00</td>
        <td onclick="toggleSelection(this, 'Lunes', '12:00', '13:00')"></td>
        <td onclick="toggleSelection(this, 'Martes', '12:00', '13:00')"></td>
        <td onclick="toggleSelection(this, 'Miércoles', '12:00', '13:00')"></td>
        <td onclick="toggleSelection(this, 'Jueves', '12:00', '13:00')"></td>
        <td onclick="toggleSelection(this, 'Viernes', '12:00', '13:00')"></td>
        <td onclick="toggleSelection(this, 'Sábado', '12:00', '13:00')"></td>
        <td onclick="toggleSelection(this, 'Domingo', '12:00', '13:00')"></td>
    </tr>
    <tr>
        <td>13:00 - 14:00</td>
        <td onclick="toggleSelection(this, 'Lunes', '13:00', '14:00')"></td>
        <td onclick="toggleSelection(this, 'Martes', '13:00', '14:00')"></td>
        <td onclick="toggleSelection(this, 'Miércoles', '13:00', '14:00')"></td>
        <td onclick="toggleSelection(this, 'Jueves', '13:00', '14:00')"></td>
        <td onclick="toggleSelection(this, 'Viernes', '13:00', '14:00')"></td>
        <td onclick="toggleSelection(this, 'Sábado', '13:00', '14:00')"></td>
        <td onclick="toggleSelection(this, 'Domingo', '13:00', '14:00')"></td>
    </tr>
    <tr>
        <td>14:00 - 15:00</td>
        <td onclick="toggleSelection(this, 'Lunes', '14:00', '15:00')"></td>
        <td onclick="toggleSelection(this, 'Martes', '14:00', '15:00')"></td>
        <td onclick="toggleSelection(this, 'Miércoles', '14:00', '15:00')"></td>
        <td onclick="toggleSelection(this, 'Jueves', '14:00', '15:00')"></td>
        <td onclick="toggleSelection(this, 'Viernes', '14:00', '15:00')"></td>
        <td onclick="toggleSelection(this, 'Sábado', '14:00', '15:00')"></td>
        <td onclick="toggleSelection(this, 'Domingo', '14:00', '15:00')"></td>
    </tr>
    <tr>
        <td>15:00 - 16:00</td>
        <td onclick="toggleSelection(this, 'Lunes', '15:00', '16:00')"></td>
        <td onclick="toggleSelection(this, 'Martes', '15:00', '16:00')"></td>
        <td onclick="toggleSelection(this, 'Miércoles', '15:00', '16:00')"></td>
        <td onclick="toggleSelection(this, 'Jueves', '15:00', '16:00')"></td>
        <td onclick="toggleSelection(this, 'Viernes', '15:00', '16:00')"></td>
        <td onclick="toggleSelection(this, 'Sábado', '15:00', '16:00')"></td>
        <td onclick="toggleSelection(this, 'Domingo', '15:00', '16:00')"></td>
    </tr>
    <tr>
        <td>16:00 - 17:00</td>
        <td onclick="toggleSelection(this, 'Lunes', '16:00', '17:00')"></td>
        <td onclick="toggleSelection(this, 'Martes', '16:00', '17:00')"></td>
        <td onclick="toggleSelection(this, 'Miércoles', '16:00', '17:00')"></td>
        <td onclick="toggleSelection(this, 'Jueves', '16:00', '17:00')"></td>
        <td onclick="toggleSelection(this, 'Viernes', '16:00', '17:00')"></td>
        <td onclick="toggleSelection(this, 'Sábado', '16:00', '17:00')"></td>
        <td onclick="toggleSelection(this, 'Domingo', '16:00', '17:00')"></td>
    </tr>
    <tr>
        <td>17:00 - 18:00</td>
        <td onclick="toggleSelection(this, 'Lunes', '17:00', '18:00')"></td>
        <td onclick="toggleSelection(this, 'Martes', '17:00', '18:00')"></td>
        <td onclick="toggleSelection(this, 'Miércoles', '17:00', '18:00')"></td>
        <td onclick="toggleSelection(this, 'Jueves', '17:00', '18:00')"></td>
        <td onclick="toggleSelection(this, 'Viernes', '17:00', '18:00')"></td>
        <td onclick="toggleSelection(this, 'Sábado', '17:00', '18:00')"></td>
        <td onclick="toggleSelection(this, 'Domingo', '17:00', '18:00')"></td>
    </tr>
    <tr>
        <td>18:00 - 19:00</td>
        <td onclick="toggleSelection(this, 'Lunes', '18:00', '19:00')"></td>
        <td onclick="toggleSelection(this, 'Martes', '18:00', '19:00')"></td>
        <td onclick="toggleSelection(this, 'Miércoles', '18:00', '19:00')"></td>
        <td onclick="toggleSelection(this, 'Jueves', '18:00', '19:00')"></td>
        <td onclick="toggleSelection(this, 'Viernes', '18:00', '19:00')"></td>
        <td onclick="toggleSelection(this, 'Sábado', '18:00', '19:00')"></td>
        <td onclick="toggleSelection(this, 'Domingo', '18:00', '19:00')"></td>
    </tr>
    <tr>
        <td>19:00 - 20:00</td>
        <td onclick="toggleSelection(this, 'Lunes', '19:00', '20:00')"></td>
        <td onclick="toggleSelection(this, 'Martes', '19:00', '20:00')"></td>
        <td onclick="toggleSelection(this, 'Miércoles', '19:00', '20:00')"></td>
        <td onclick="toggleSelection(this, 'Jueves', '19:00', '20:00')"></td>
        <td onclick="toggleSelection(this, 'Viernes', '19:00', '20:00')"></td>
        <td onclick="toggleSelection(this, 'Sábado', '19:00', '20:00')"></td>
        <td onclick="toggleSelection(this, 'Domingo', '19:00', '20:00')"></td>
    </tr>
    <tr>
        <td>20:00 - 21:00</td>
        <td onclick="toggleSelection(this, 'Lunes', '20:00', '21:00')"></td>
        <td onclick="toggleSelection(this, 'Martes', '20:00', '21:00')"></td>
        <td onclick="toggleSelection(this, 'Miércoles', '20:00', '21:00')"></td>
        <td onclick="toggleSelection(this, 'Jueves', '20:00', '21:00')"></td>
        <td onclick="toggleSelection(this, 'Viernes', '20:00', '21:00')"></td>
        <td onclick="toggleSelection(this, 'Sábado', '20:00', '21:00')"></td>
        <td onclick="toggleSelection(this, 'Domingo', '20:00', '21:00')"></td>
    </tr>
    
        <!-- Puedes agregar más filas de la misma manera... -->
    </tbody>
</table>