{% extends "base.html" %}

{% block content %}
  <h1>Detalles del Profesor</h1>

  <div class="form-group">
    <p><strong>Nombre:</strong> {{ profesor.nombre }} {{ profesor.apellido }}</p>
  </div>

  <div class="form-group">
    <p><strong>DNI:</strong> {{ profesor.dni }}</p>
  </div>

  <div class="form-group">
    <p><strong>Fecha de Nacimiento:</strong> {{ profesor.fecha_nacimiento }}</p>
  </div>

  <div class="form-group">
    <p><strong>Dirección:</strong> {{ profesor.direccion }}</p>
  </div>

  <div class="form-group">
    <p><strong>Teléfono:</strong> {{ profesor.telefono }}</p>
  </div>

  <div class="form-group">
    <p><strong>Email:</strong> {{ profesor.email }}</p>
  </div>

  <div style="margin-top: 30px;">
    <a href="{% url 'modificar_profesor' pk=profesor.pk %}" class="btn btn-secundario">Modificar</a>
    <a href="{% url 'eliminar_profesor' pk=profesor.pk %}" class="btn btn-alerta">Eliminar</a>
    <a href="{% url 'listar_profesores' %}" class="btn">Volver a la lista</a>
  </div>
{% endblock %}
