{% extends 'base.html' %}

{% block title %} Detalle de Caja {% endblock %}

{% block content %}
    <h2>Detalles de la Caja #{{ caja.id_caja }}</h2>
    
    <table>
        <tr>
            <th>Usuario de Apertura</th>
            <td>{{ caja.usuario_apertura.username }}</td>
        </tr>
        <tr>
            <th>Fecha de Apertura</th>
            <td>{{ caja.fecha_apertura|date:"d/m/Y H:i" }}</td> <!-- Formateo de fecha -->
        </tr>
        <tr>
            <th>Monto Inicial</th>
            <td>${{ caja.monto_inicial|floatformat:2 }}</td> <!-- Formato de número con 2 decimales -->
        </tr>
        <tr>
            <th>Ingresos</th>
            <td>${{ caja.ingresos|floatformat:2 }}</td>
        </tr>
        <tr>
            <th>Egresos</th>
            <td>${{ caja.egresos|floatformat:2 }}</td>
        </tr>
        <tr>
            <th>Saldo</th>
            <td>${{ caja.saldo|floatformat:2 }}</td>
        </tr>
        <tr>
            <th>Estado</th>
            <td>{{ caja.get_estado_display }}</td>
        </tr>
        <tr>
            <th>Monto Final</th>
            <td>
                {% if caja.estado == "Cerrada" %}
                    ${{ caja.monto_final|floatformat:2 }}
                {% else %}
                    ----- <!-- Muestra '-----' si la caja está abierta -->
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Usuario de Cierre</th>
            <td>{{ caja.usuario_cierre.username|default:"No ha sido cerrado aún" }}</td>
        </tr>
        <tr>
            <th>Fecha de Cierre</th>
            <td>{{ caja.fecha_cierre|default:"No ha sido cerrado aún"|date:"d/m/Y H:i" }}</td> <!-- Formato de fecha en caso de no estar cerrado -->
        </tr>
    </table>

    <!-- Botón para cerrar caja -->
    {% if caja.estado == "Abierta" %}
        <form action="{% url 'cerrar_caja' pk=caja.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Cerrar Caja</button>
        </form>

        <!-- Enlaces para registrar ingreso o egreso si la caja está abierta -->
        <br><br>
        <a href="{% url 'registrar_movimiento' %}" class="btn btn-success">Registrar movimiento</a>

        <!-- Enlace para ver los movimientos de la caja con la nueva URL -->
        <a href="{% url 'movimientos_caja' pk=caja.pk %}" class="btn btn-info">Ver Movimientos</a>
    {% endif %}

    <br><br>
    <a href="{% url 'listar_cajas' %}">Ir a Listado de Cajas</a>

{% endblock %}
