{% extends 'base.html' %}

{% block title %}Listado de Cajas{% endblock %}

{% block content %}
    <h2>Listado de Cajas</h2>

    <table>
        <thead>
            <tr>
                <th>Estado</th>
                <th>Fecha de Apertura</th>
                <th>Monto Inicial</th>
                <th>Ingresos</th>
                <th>Egresos</th>
                <th>Saldo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for caja in cajas %}
            <tr>
                <td>{{ caja.get_estado_display }}</td>
                <td>{{ caja.fecha_apertura|date:"d/m/Y H:i" }}</td>
                <td>${{ caja.monto_inicial }}</td>
                <td>${{ caja.ingresos }}</td>
                <td>${{ caja.egresos }}</td>
                <td>${{ caja.saldo }}</td>
                <td>
                    <a href="{% url 'detalle_caja' pk=caja.pk %}">Ver Detalles</a>
                    {% if caja.estado == 'Abierta' %}
                        | <a href="{% url 'cerrar_caja' pk=caja.pk %}">Cerrar Caja</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Botón para abrir nueva caja si no hay ninguna abierta -->
    {% if not caja_abierta %}
        <a href="{% url 'apertura_caja' %}">Abrir una nueva Caja</a>
    {% else %}
        <p>Ya hay una caja abierta, no puedes abrir otra hasta que se cierre.</p>
    {% endif %}
{% endblock %}
