{% extends "base.html" %}

{% block content %}
  <h1>Crear Caballo</h1>
  <form method="POST">
    {% csrf_token %}
    
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required><br>
    
    <label for="edad">Edad:</label>
    <input type="number" id="edad" name="edad" required><br>
    
    <label for="sexo">Sexo:</label>
    <select name="sexo" id="sexo" required>
      <option value="M">Macho</option>
      <option value="H">Hembra</option>
    </select><br>
    
    <label for="disciplinas">Disciplinas:</label><br>
    {% for disciplina in disciplinas %}
      <input type="checkbox" name="disciplinas" value="{{ disciplina.id_disciplina }}"> {{ disciplina.nombre }}<br>
    {% endfor %}
    
    <button type="submit">Crear Caballo</button>
  </form>
  <a href="{% url 'listar_caballos' %}">Volver a la lista</a>
{% endblock %}
