{% extends "base.html" %}

{% block content %}
  <h1>Modificar Caballo</h1>
  <form method="POST">
    {% csrf_token %}
    
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" value="{{ caballo.nombre }}" required><br>
    
    <label for="edad">Edad:</label>
    <input type="number" id="edad" name="edad" value="{{ caballo.edad }}" required><br>
    
    <label for="sexo">Sexo:</label>
    <select name="sexo" id="sexo" required>
      <option value="M" {% if caballo.sexo == 'M' %}selected{% endif %}>Macho</option>
      <option value="H" {% if caballo.sexo == 'H' %}selected{% endif %}>Hembra</option>
    </select><br>
    
    <label for="disciplinas">Disciplinas:</label><br>
    {% for disciplina in disciplinas %}
      <input type="checkbox" name="disciplinas" value="{{ disciplina.id_disciplina }}"
      {% if disciplina in caballo.disciplinas.all %}checked{% endif %}>
      {{ disciplina.nombre }}<br>
    {% endfor %}
    
    <button type="submit">Modificar Caballo</button>
  </form>
  <a href="{% url 'listar_caballos' %}">Volver a la lista</a>
{% endblock %}
